@use "@/styles/constants";

.project-carousel {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;

    .window {
        align-items: center;
        display: flex;
        height: 200px;
        position: relative;
        width: 300px;

        button {
            --button-size: 20px;
            --button-spacing: -40px;
            border-top: var(--button-size) solid transparent;
            border-bottom: var(--button-size) solid transparent;
            height: 0;
            position: absolute;
            width: 0;
        }

        button.left {
            border-right: var(--button-size) solid var(--accent-color);
            left: var(--button-spacing);
        }

        button.right {
            border-left: var(--button-size) solid var(--accent-color);
            right: var(--button-spacing);
        }

        .img {
            height: 100%;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            transition: all 0.5s ease;
            width: 100%;
        }

        .img.left {
            transform: translateX(-30px);
        }

        .img.right {
            transform: translateX(30px);
        }

        .img.show {
            opacity: 1;
            pointer-events: all;
            transform: translateX(0);
        }
    }
}

@media (hover: hover) {
    .project-carousel .window {
        .left:hover {
            border-right: var(--button-size) solid constants.$emph-color;
        }

        .right:hover {
            border-left: var(--button-size) solid constants.$emph-color;
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .project-carousel .window {
        height: 350px;
        width: 500px;

        button {
            --button-size: 30px;
            --button-spacing: -60px;
        }
    }
}

@media screen and (min-width: constants.$desktop) {
    .project-carousel .window {
        height: 400px;
        width: 600px;
    }
}
