@use "@/styles/constants";

.landing-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - constants.$navbar-height);
    justify-content: center;
    width: 100%;

    .headshot {
        border: 5px solid var(--accent-color);
        border-radius: 50%;
        height: 20rem;
        overflow: hidden;
        position: relative;
        transform: translateY(-30px);
        transition: constants.$fade-in;
        width: 20rem;
    }

    .landing-text {
        font-family: constants.$header-font;
        font-size: 3rem;
        letter-spacing: 2px;
        margin-top: 2rem;
        transform: translateY(30px);
        transition: constants.$fade-in;
    }
}
