@use "@/styles/constants";

.project-card {
    align-items: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex: 1 1 400px;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 1rem;
    position: relative;

    .ribbon {
        --cut-size: 15px;
        --fold-size: 10px;
        --lr-padding: 2rem;
        --offset: 1.5rem;
        --tb-padding: 0.5rem;
        background: constants.$emph-color;
        position: absolute;
    }

    .top {
        box-shadow: 0 calc(-1 * var(--fold-size)) 0 inset #0005;
        color: black;
        clip-path: polygon(
            0 0,
            100% 0,
            calc(100% - var(--cut-size)) calc(50% - var(--fold-size) / 2),
            100% calc(100% - var(--fold-size)),
            var(--fold-size) calc(100% - var(--fold-size)),
            var(--fold-size) 100%,
            0 calc(100% - var(--fold-size))
        );
        inset: var(--offset) auto auto calc(-1 * var(--fold-size));
        font-family: constants.$header-font;
        font-size: constants.$header-size;
        letter-spacing: 1px;
        padding: var(--tb-padding) calc(var(--lr-padding) + var(--cut-size))
            calc(var(--tb-padding) + var(--fold-size)) var(--lr-padding);
    }

    .bottom {
        box-shadow: 0 var(--fold-size) 0 inset #0005;
        clip-path: polygon(
            0 var(--fold-size),
            100% var(--fold-size),
            calc(100% - var(--fold-size)) var(--fold-size),
            calc(100% - var(--fold-size)) 0,
            100% var(--fold-size),
            100% 100%,
            0 100%,
            var(--cut-size) calc(50% + var(--fold-size) / 2)
        );
        display: flex;
        inset: calc(100% - 4 * var(--offset)) calc(-1 * var(--fold-size)) auto
            auto;
        padding: calc(var(--tb-padding) + var(--fold-size)) var(--lr-padding)
            var(--tb-padding) calc(var(--lr-padding) + var(--cut-size));

        .link-icon {
            height: 2rem;
            margin-right: 0.5rem;
            position: relative;
            width: 2rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
