@use "@/styles/constants";

#footer {
    width: 100%;
    border-top: 2px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem constants.$x-padding;

    #footer-text {
        font-family: constants.$header-font;
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin-bottom: 1rem;
    }

    #footer-icons {
        display: flex;
        align-items: center;

        .footer-icon {
            height: 2rem;
            width: 2rem;
            position: relative;
            filter: var(--accent-color-svg);
            margin-right: 2rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (hover: hover) {
    #footer > #footer-icons > .footer-icon:hover {
        filter: var(--emph-color-svg);
    }
}
