@use "@/styles/constants";

#menu-button {
    height: 1.25rem;
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: height 0.2s ease;

    &:focus {
        height: 1.6rem;
    }

    hr {
        height: 2px;
        width: 100%;
        background: var(--accent-color);
    }
}

@media (hover: hover) {
    #menu-button:hover {
        height: 1.6rem;
    }
}
