// Color scheme
$light-main-color: white;
$light-main-color-hover: rgb(207, 207, 207);
$light-accent-color: black;
$dark-main-color: rgb(35, 38, 55);
$dark-main-color-hover: rgb(53, 56, 71);
$dark-accent-color: white;

// Fonts
$main-font: "Exo 2", sans-serif;
$header-font: "Staatliches", sans-serif;

// Breakpoints
$tablet: 1023px;
$mobile: 767px;

// Important dimensions
$navbar-height: 60px;
