// Dark color scheme
$dark-main-color: rgb(35, 38, 55);
$dark-accent-color: white;
$dark-accent-color-svg: invert(100%) sepia(100%) saturate(2%) hue-rotate(57deg)
    brightness(113%) contrast(101%);
$dark-hover-color: rgb(53, 56, 71);
$dark-menu-color: rgb(21, 22, 32);

// Fonts
$main-font: "Exo 2", sans-serif;
$header-font: "Staatliches", sans-serif;

// Breakpoints
$tablet: 1023px;
$mobile: 767px;

// Important dimensions
$navbar-height: 60px;
