@use "@/styles/constants";

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap");

#app {
    overflow-x: hidden;
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    &:hover {
    }
}

* {
    box-sizing: border-box;
}

body,
body[data-theme="dark"] {
    --main-color: #{constants.$dark-main-color};
    --main-hover-color: #{constants.$dark-main-color-hover};
    --accent-color: #{constants.$dark-accent-color};
}

body[data-theme="light"] {
    --main-color: #{constants.$light-main-color};
    --main-hover-color: #{constants.$light-main-color-hover};
    --accent-color: #{constants.$light-accent-color};
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: var(--main-color);
    color: var(--accent-color);
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

hr {
    border: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input,
textarea {
    border: none;

    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
