@use "@/styles/constants";

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Staatliches&display=swap");

#app {
    overflow-x: hidden;
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    &:hover {
    }
}

.from-top {
    opacity: 0;
    transform: translateY(-30px);
}

.from-bottom {
    opacity: 0;
    transform: translateY(30px);
}

.from-left {
    opacity: 0;
    transform: translateX(-30px);
}

.from-right {
    opacity: 0;
    transform: translateX(30px);
}

.show {
    opacity: 1;
    transform: translate(0, 0) !important;
    transition: constants.$fade-in;
}

* {
    box-sizing: border-box;
}

body,
body[data-theme="dark"] {
    --accent-color: #{constants.$dark-accent-color};
    --accent-color-svg: #{constants.$dark-accent-color-svg};
    --hover-color: #{constants.$dark-hover-color};
    --main-color: #{constants.$dark-main-color};
    --menu-color: #{constants.$dark-menu-color};
}

body[data-theme="light"] {
    --accent-color: #{constants.$light-accent-color};
    --accent-color-svg: #{constants.$light-accent-color-svg};
    --hover-color: #{constants.$light-hover-color};
    --main-color: #{constants.$light-main-color};
    --menu-color: #{constants.$light-menu-color};
}

html,
body {
    background: var(--main-color);
    color: var(--accent-color);
    font-family: constants.$main-font;
    margin: 0;
    padding: 0;
    transition: all 0.1s ease;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

hr {
    border: none;
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

input,
textarea {
    border: none;

    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
