@use "@/styles/constants";

.nav-menu {
    align-items: flex-start;
    background: var(--menu-color);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2rem;
    top: calc(constants.$navbar-height + 10px);
    transition: all 0.2s ease;
    z-index: constants.$nav-menu;

    li {
        width: 100%;

        a {
            align-items: center;
            display: flex;
            padding: 0.7rem 1rem;
            width: 100%;

            .link-icon {
                filter: var(--accent-color-svg);
                height: 1.5rem;
                margin-right: 1rem;
                position: relative;
                width: 1.5rem;
            }

            p {
                color: var(--accent-color);
                font-size: 1.2rem;
            }
        }
    }
}

.open {
    transform: translateY(0);
}

.closed {
    pointer-events: none;
    transform: translateY(-10px);
}

@media (hover: hover) {
    .nav-menu a:hover {
        background: var(--hover-color);
    }
}
