@use "@/styles/constants";

#my-skills {
    max-width: constants.$max-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: constants.$homepage-padding;

    #skills-header {
        font-family: constants.$header-font;
        font-size: 3rem;
        letter-spacing: 2px;
        padding: 0 4rem;
        border-bottom: 5px solid var(--accent-color);
        margin-bottom: 2rem;
        color: var(--accent-color);
        transform: translateY(-30px);
        transition: constants.$fade-in;
    }

    .hide {
        opacity: 0;
    }

    .show {
        opacity: 1;
        transform: translate(0, 0) !important;
    }
}

@media screen and (min-width: constants.$tablet) {
    #my-skills {
        width: max(80%, 960px);
        margin: 0 auto;

        #skills-header {
            width: 100%;
            text-align: left;
            padding: 0;
            border-bottom: none;
            text-decoration: underline;
            text-underline-offset: 0.5rem;
            transform: translate(-30px, 0);
        }

        .skills-row {
            display: flex;
            flex-direction: column;
        }
    }
}
