@use "@/styles/constants";

.my-skills {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: constants.$max-width;
    padding-bottom: constants.$homepage-padding;

    .skills-header {
        border-bottom: 5px solid var(--accent-color);
        color: var(--accent-color);
        font-family: constants.$header-font;
        font-size: 3rem;
        letter-spacing: 2px;
        margin-bottom: 2rem;
        padding: 0 4rem;
        transform: translateY(-30px);
        transition: constants.$fade-in;
    }

    .skill-content {
        transform: translateY(30px);
        transition: constants.$fade-in;
        width: 100%;

        .skill-row {
            align-items: center;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            margin-bottom: 2.5rem;

            &:last-child {
                margin-bottom: 0;
            }

            .skill-carousel {
                margin-bottom: 2.5rem;

                &:last-child {
                    margin-bottom: 0;
                }

                .carousel-name {
                    font-family: constants.$header-font;
                    font-size: 2rem;
                    letter-spacing: 1px;
                    margin: 0 auto;
                    margin-bottom: 1rem;
                    text-align: center;
                    width: 500px;
                }

                .carousel-container {
                    align-items: center;
                    display: flex;
                    height: 12rem;
                    position: relative;

                    .skill-button {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        left: 0;
                        position: absolute;
                        transform: translateX(-50%);
                        transition: all 0.5s ease;

                        &:hover {
                            opacity: 1;
                        }

                        .skill-icon {
                            height: 8rem;
                            margin-bottom: 0.5rem;
                            position: relative;
                            width: 8rem;
                        }

                        .skill-name {
                            color: var(--accent-color);
                            display: none;
                            font-family: constants.$main-font;
                            font-size: 1.2rem;
                        }
                    }

                    .selected {
                        opacity: 1;
                        z-index: 2;

                        .skill-name {
                            display: block;
                        }
                    }

                    .faded {
                        opacity: 0.2;
                        transform: translateX(-50%) scale(0.8);
                    }

                    .hidden {
                        opacity: 0;
                        pointer-events: none;
                        transform: translateX(-50%) scale(0.1);
                    }

                    .carousel-nav {
                        filter: var(--accent-color-svg);
                        height: 2rem;
                        position: absolute;
                        width: 1.5rem;
                    }

                    .left {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

@media (hover: hover) {
    .my-skills
        .skill-content
        .skill-row
        .skill-carousel
        .carousel-container
        .carousel-nav:hover {
        filter: var(--emph-color-svg);
    }
}

@media screen and (min-width: constants.$tablet) {
    .my-skills {
        margin: 0 auto;
        width: max(80%, 960px);

        .skills-header {
            border-bottom: none;
            padding: 0;
            text-align: left;
            text-decoration: underline;
            text-underline-offset: 0.5rem;
            transform: translate(-30px, 0);
            width: 100%;
        }

        .skill-content {
            .skill-row {
                flex-direction: row;
                justify-content: space-between;

                .skill-carousel {
                    margin-bottom: 0;

                    .carousel-name {
                        margin-bottom: 2rem;
                    }

                    .carousel-container .faded {
                        transform: translateX(-50%) scale(0.6);
                    }
                }
            }

            .center {
                justify-content: center;
            }
        }
    }
}
