@use "@/styles/constants";

#about-me {
    max-width: constants.$max-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: constants.$homepage-padding;

    #about-header {
        font-family: constants.$header-font;
        font-size: 3rem;
        letter-spacing: 2px;
        padding: 0 4rem;
        border-bottom: 5px solid var(--accent-color);
        margin-bottom: 2rem;
        transform: translateY(-30px);
        transition: constants.$fade-in;
    }

    #about-container {
        display: flex;
        align-items: center;
        width: 100%;

        #about-image {
            display: none;
        }

        #about-paragraph {
            font-family: constants.$main-font;
            font-size: 1.5rem;
            margin-bottom: 2rem;
            transition: constants.$fade-in;
            transform: translateY(30px);
        }
    }

    .hide {
        opacity: 0;
    }

    .show {
        opacity: 1;
        transform: translate(0, 0) !important;
    }
}

@media screen and (min-width: constants.$tablet) {
    #about-me {
        width: max(80%, 960px);
        margin: 0 auto;

        #about-header {
            width: 100%;
            text-align: right;
            padding: 0;
            border-bottom: none;
            text-decoration: underline;
            text-underline-offset: 0.5rem;
            color: var(--accent-color);
            transform: translate(30px, 0);
        }

        #about-container {
            #about-image {
                display: flex;
                justify-content: flex-start;
                height: 20rem;
                width: 22rem;
                position: relative;
                margin-right: 2rem;
                transition: constants.$fade-in;
                transform: translateX(-30px);
            }

            #about-paragraph {
                width: calc(100% - 24rem);
                transform: translate(30px, 0);
            }
        }
    }
}
