@use "@/styles/constants";

.my-experience {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: constants.$max-width;
    padding-bottom: constants.$homepage-padding;

    .experience-header {
        border-bottom: 5px solid var(--accent-color);
        color: var(--accent-color);
        font-family: constants.$header-font;
        font-size: 3rem;
        letter-spacing: 2px;
        margin-bottom: 2rem;
        padding: 0 1rem;
        transform: translateY(-30px);
        transition: constants.$fade-in;
    }

    .experience-card {
        align-items: center;
        background: rgba(black, 0.1);
        border: 3px solid var(--accent-color);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        padding: 2rem 3rem;
        transform: translateY(30px);
        transition: constants.$fade-in;
        width: 100%;

        .card-header {
            border-bottom: 3px solid var(--accent-color);
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
            width: 100%;

            .job {
                .logo {
                    display: none;
                }

                .job-info {
                    font-family: constants.$header-font;

                    .name {
                        font-size: 2rem;
                    }

                    .title {
                        font-size: 1.5rem;
                    }
                }
            }

            .dates {
                display: none;
            }
        }

        .points {
            list-style: disc;

            .point {
                font-family: constants.$main-font;
                font-size: 1rem;
                margin-bottom: 1rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .my-experience {
        margin: 0 auto;
        width: max(80%, 960px);

        .experience-header {
            border-bottom: none;
            padding: 0;
            text-align: left;
            text-decoration: underline;
            text-underline-offset: 0.5rem;
            transform: translate(-30px, 0);
            width: 100%;
        }

        .experience-card {
            transform: translate(30px, 0);

            .card-header .job .logo {
                display: block;
                height: 100px;
                margin-right: 2rem;
                position: relative;
                width: 100px;
            }
        }
    }
}

@media screen and (min-width: constants.$mobile) {
    .my-experience .experience-card {
        .card-header {
            align-items: center;
            border: none;
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;
            padding: 0;

            .job {
                align-items: center;
                display: flex;

                .job-info {
                    text-align: left;

                    .name {
                        font-size: 2.5rem;
                        letter-spacing: 1px;
                    }

                    .title {
                        font-size: 2rem;
                    }
                }
            }

            .dates {
                display: block;
                font-family: constants.$main-font;
                font-size: 1.5rem;
            }
        }

        .points {
            padding: 0 2rem;

            .point {
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}
