@use "@/styles/constants";

.page-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-height: calc(100vh - constants.$navbar-height);
    padding: constants.$padding;
    max-width: constants.$max-width;
}

@media screen and (min-width: constants.$tablet) {
    .page-wrapper {
        padding: 5rem constants.$padding;
    }
}
