@use "@/styles/constants";

.content-header {
    font-family: constants.$header-font;
    font-size: constants.$header-size;
    text-align: center;
    width: 100%;
}

.content-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }

    .image-container {
        display: none;
    }

    p {
        font-size: constants.$body-size;
        letter-spacing: 1px;
    }
}

@media screen and (min-width: constants.$tablet) {
    .content-header {
        font-size: constants.$tablet-header-size;
        letter-spacing: 1px;
    }

    .content-container {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: constants.$desktop) {
    .content-header {
        font-size: constants.$desktop-header-size;
        letter-spacing: 2px;
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .content-container {
        margin-bottom: 5rem;

        .image-container {
            display: block;
            height: 17rem;
            position: relative;
            width: 17rem;
        }

        p {
            font-size: 1.4rem;
            width: calc(100% - 19rem);
        }
    }
}
